<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>21DAYS | Password Reset</title>
   <!-- CSS only -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> 
   <script src="https://unpkg.com/vue@next"></script>
  </head>
<body>
  <div class="container my-5 py-5" id="app">
    <div class="row">
      <div class="col-md-6 col-sm-12 mx-auto">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Reset Password</h3>
            <form @submit.prevent="resetPassword" v-if="!done">
              <div class="form-group">
                <label for="password"> New password:</label>
                 <input type="password" v-model="password" id="password" class="form-control" placeholder="password">
              </div>
              <div class="form-group mt-3">
                <label for="confirm-password"> Confirm new password:</label>
                 <input type="password" v-model="confirm_password" id="confirm-password" class="form-control" placeholder="repeat password">
              </div>
              <div class="form-group mt-3">
                <button class="btn btn-primary" type="submit">Reset password</button>
              </div>
            </form>
            <p v-else>Your password reset is successfull. Please log in to your account.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    const app = Vue.createApp({
      data:() => ({
        done: false,
        password: "",
        confirm_password: ""
      }),
      methods:{
       async resetPassword(){  
         let {password, confirm_password} = this;
         if(password && (password === confirm_password)){
            let resetPasswordToken = window.location.href.split('/').pop();
            //make api request
            let data = await fetch ('/users/api/reset-password-now', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({password, resetPasswordToken})
            }).then(res => res.json());
            console.log('API_RESPONSE', data);
            if(data.success){
                 this.done = true;
                 setTimeout(() => {
                    window.opener = self;
                    window.close();
                 }, 5000);
            }
         }
       }
      }
    }).mount("#app")
  </script>
</body>
</html>